h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: bold;

}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

h4 {
    font-size: 48px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
}

.logo {
    max-width: 150px;
}

nav {
    padding: 20px 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 40px;
    margin-left: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    color: #272142;
    transition: all 150ms ease-in-out;
    text-decoration: none;
    font-family: 'Poppins',
        sans-serif;
}

nav a:hover,
nav li.active a {
    color: #6C63FF;
}

.hero {
    background-color: #f9f7fe;
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
}

.hero h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 2;
    font-weight: normal;

}

.ab-sec-content {
    padding: 160px 20px;
    margin: 30px;
}

.pat {
    padding: 160px 20px;
    margin: 30px;
}

.about-hero h1 {
    font-size: 64px;
    line-height: 75px;
}

.about-hero h2 {
    font-size: 16px;
    font-family: 'Poppins',
        sans-serif;

}

.content h1 {
    font-size: 64px;
    line-height: 75px;
}

.content-container {
    padding: 160px 20px;
}

.content {
    text-align: center;
    padding: 0;

}

.content h3 {
    font-size: 24px;
    font-family: 'Poppins',
        sans-serif;
    line-height: 1.5;
    margin: 20px 0 0;

}

.content p {
    font-size: 14px;
    margin: 0;
}


.btn-branding {
    background: #6c63ff;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border: 1px solid #6c63ff;
    color: #6c63ff;
}

.project-desciption {
    padding: 120px 60px;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Poppins',
        sans-serif;

}

footer .email-link:hover {
    color: #6c63ff;
}

footer {
    margin: 60px 0;
}

footer .contact-box {
    background-color: #f9f7fe;
    padding: 30px 120px;
    border-radius: 10px;
}

footer .social-links a {
    margin: 0 20px;
    color: #6c63ff;
    background-color: #f9f7fe;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
}

footer p {
    font-family: 'Poppins',
        sans-serif;
    margin: 0;

}

footer .social-links a:hover {
    color: white;
    background-color: #6c63ff;
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
    }

    .about-hero {
        text-align: center;
        padding: 0;
    }

    .project-desciption {
        padding: 0;
        text-align: center;
    }

    nav a {
        font-size: 14px;
    }

    nav li {
        margin-left: 5px;
    }

}